.vscode
*.DS_Store

.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

*.tfvars
*.tfvars.json

comandos_cli/
docs/
iam_codecommit/

manager-terraform_accessKeys.csv
manager-terraform-agr_accessKeys.csv

**/temp.txt

01_iam/aws_iam
02_iam_s3/v1_aws_iam_s3

